<% include ./partials/headerIndex.ejs %>

    <div class="form-group">
        <label for="text"> Type your text to be analyzed here</label>
        <textarea class="form-control" rows="5" id="text"></textarea>
    </div

<% include ./partials/footer.ejs %>
