<% include ./partials/headerIndex.ejs %>
    
    <form action="/sentimentResult" method="post">
        <div class="form-group">
            <label for="text"> Type your text to be analyzed here</label>
            <textarea class="form-control" rows="5" id="text"></textarea>
        </div>
    </form>
    <button type="submit" class="btn btn-default">Submit</button>
<% include ./partials/footer.ejs %>
